<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
  <h1>Movie App</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/movies">Movies</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </nav>
</header>