<%- include('partials/header') %>

<main>
  <h1>Add Movie</h1>
  <form method="POST" action="/movies/add">
    <label>Name</label>
    <input type="text" name="name">

    <label>Description</label>
    <textarea name="description"></textarea>

    <label>Year</label>
    <input type="number" name="year">

    <label>Genres</label>
    <input type="text" name="genres">

    <label>Rating</label>
    <input type="number" name="rating" min="1" max="10">

    <button class="btn btn-primary">Submit</button>
  </form>
  <% if (errors) { %>
    <% errors.forEach(err => { %>
      <p class="error-message"><%= err %></p>
    <% }) %>
  <% } %>
</main>

<%- include('partials/footer') %>