<%- include('partials/header') %>

<main>
  <h1>Welcome to Movies App</h1>
  <p>Find, add and organize your favorite movies.</p>

  <a class="btn btn-primary" href="/movies">View Movies</a>
</main>

<%- include('partials/footer') %>