<%- include('partials/header') %>

<main>
  <h1>Login</h1>

  <% if (errors) { %>
    <% errors.forEach(err => { %>
      <p class="error-message"><%= err %></p>
    <% }) %>
  <% } %>

  <form class="form-container" action="/login" method="POST">
    <label>Username</label>
    <input type="text" name="username">

    <label>Password</label>
    <input type="password" name="password">

    <button class="btn btn-primary">Login</button>
  </form>

  <p class="auth-switch">
    Don’t have an account?
    <a href="/register">Register here</a>
  </p>

</main>

<%- include('partials/footer') %>