<%- include('partials/header') %>

<main>
  <h1>Register</h1>

  <% if (errors) { %>
    <% errors.forEach(err => { %>
      <p class="error-message"><%= err %></p>
    <% }) %>
  <% } %>

  <form class="form-container" action="/register" method="POST">
    <label>Username</label>
    <input type="text" name="username">

    <label>Password</label>
    <input type="password" name="password">

    <label>Confirm Password</label>
    <input type="password" name="confirmPassword">

    <button class="btn btn-primary">Register</button>
  </form>


  <p class="auth-switch">
    Already have an account?
    <a href="/login">Log in</a>
  </p>

</main>

<%- include('partials/footer') %>